*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --hue-neutral: 195;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* White question background box */
.hide {
    background-color: #ffffff;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px 2px;
    margin: 10px;
    
}
/* Organization of all buttons */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 20px 0;
}

/* All button styling*/
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 10px;
    padding: 5px 10px;
    color:#ffffff;
    outline: none;
}

.btn:hover {
    border-color: #000000;
}
/* Correct or wrong button color*/
.btn.correct {
    --hue: var(--hue-correct);
    color: #000000;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

/* Start and next button styling*/
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
} 

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* Screens adjustment*/

@media only screen and (max-width: 768px) {
 
    .container {
        width: 400px;
        max-width: 80%;
    }
    .hide {
        background-color: #ffffff;
        width: 400px;
        max-width: 90%;
        border-radius: 5px;
        padding: 50px;
        box-shadow: 0 0 10px 2px;
        margin: 10px;
        margin-right: 50px;
    }

    .btn-grid {
        grid-template-columns: repeat(1, auto);
        gap: 30px;
        margin: 30px 0;
    }

    .btn {
        border-radius: 20px;
        padding: 10px 15px;
    }

}
